* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}
/*fullpage-wrap  start*/
.fullpage-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fp-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.fullpage-wrap .page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    overflow: hidden;
}

.arrow {
        width: 60px;
    height: 34px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    margin-left: -45px;
    z-index: 999;
    background: url(../image/arr.png) no-repeat;
     animation: 1s linear infinite arrowMove; 
     -webkit-animation: 1s linear infinite arrowMove; 
    background-size: cover;
}

.music {
    width: 70px;
    height: 70px;
    background: url(../image/music.png) no-repeat;
    background-size: 70px 70px;
    position: fixed;
    right: 16px;
    top: 16px;
    z-index: 999;
}

.music.play {
    animation: 1s linear infinite musicMove;
    -webkit-animation: 1s linear infinite musicMove;
}

@keyframes musicMove {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes arrowMove {
    0% {
        opacity: 0;
        transform: translate(0, 0px);
    }
    40% {
        opacity: 1;
        transform: translate(0, -30px);
    }
    100% {
        opacity: 0;
        transform: translate(0, -60px);
    }
}

@-webkit-keyframes arrowMove {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0px);
    }
    40% {
        opacity: 1;
        -webkit-transform: translate(0, -30px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -60px);
    }
}

.slide-progress {
    position: absolute;
    z-index: 102;
    width: 20px;
    top: 50%;
    right: 20px;
    overflow: hidden
}

.progress-dot {
    list-style: none;
    padding: 0;
    background-color: #f9f9f9;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    opacity: .3;
    filter: alpha(opacity=30);
    margin: 0 auto 15px;
}

.progress-dot.hidden {
    display: none
}

.progress-dot.current {
    opacity: .7;
    filter: alpha(opacity=70);
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1px solid #fff
}
/*fullpage-wrap  end*/


.fix {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 70px;
    z-index: 999
}

.upOrDownPx {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    z-index: 999
}
.js-animate {
    font-size: 72px;
    line-height: 320px;
    text-align: center;
}
